.list {
  .action {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-end;
    .tag-name {
      text-align: left;
      font-size: 16px;
      margin-left: 10px;
      float: left;
    }
    .list-search {
      width: 160px;
      margin-left: 6px;
    }
    .add-tags {
      margin-left: 6px;
      margin-bottom: 6px;
    }
    .posts-sort {
      width: 100px;
      margin-left: 6px;
    }
  }
  .ant-pagination.ant-table-pagination {
    margin-right: 10px;
  }
  table {
    .ant-tag {
      font-size: 12px;
      padding: 6px;
      line-height: 12px;
      border-radius: 2px;
      margin-bottom: 4px;
    }
  }
  .mobile-row {
    .main-content {
      font-size: 14px;
      color: #333;
      margin-bottom: 6px;
    }
    .sub-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}